/*penispenispenispenispenispenispenispenispenis*/

body{
    background: url("https://pix10.agoda.net/hotelImages/5647641/-1/45ee96c8c2b177ffcd99818b6b6387f0.jpg");
}

div{
    background: #0d0066;
    border-color: #36f300;
    border-width: 10px;
    border-style: dotted;
}

h1{
    color: #2d2d2d;
}

p{
    color: #d4d4d4;
}

span{
    background: red;
}

li{
    color: #6be314;
}